{% extends "base.html" %}

{% block page %}

    <section class="login-page">
      <h2>Jaki typ urzytkownika chcesz stworzyć?</h2>
        <div class="form-group form-group--buttons">
          <a href="/new/person" class="btn">Osoba prywatna</a>&nbsp
          <a href="/new/organisation" class="btn">&nbsp&nbsp&nbsp&nbsp Organizacja &nbsp&nbsp&nbsp&nbsp</a>
<!--          such things like four "&nbsp" will be resolved as soon as the whole app is working.
              - Currently I am using front created by someone else,
                so my priority is to make it working correctly from the back-end perspective
                and then I will work on html/css/js  -->

        </div><p></p><p></p>

    </section>

{% endblock %}